@import "tailwindcss";

@font-face {
  font-family: 'Fusion-Pixel-Zh-Hans';
  src: url('/fonts/fusion-pixel-12px-proportional-zh_hans.ttf.woff2') format('woff2'),
       url('/fonts/fusion-pixel-12px-proportional-zh_hans.ttf') format('truetype');
}

@theme {
  --font-pixel-hans: "Fusion-Pixel-Zh-Hans", sans-serif;
}


@layer base {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
}
@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
